<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<section class="jumbotron text-center">
    <div class="container">
        <h1>포도</h1>
        <p class="lead text-muted">
            관심분야와 사는 지역을 매칭하여 참여 가능합니다!<br/>
            다양한 모임을 관리할 수 있습니다.
        </p>
        <p>
            <a th:href="@{/sign-up}" class="btn btn-primary my-2">회원 가입</a>
        </p>
    </div>
</section>
<div class="container">
    <div class="row justify-content-center pt-3">
        <div th:replace="fragments.html :: crew-list (crewList=${crewList})"></div>
    </div>
</div>
<div th:replace="fragments.html :: footer"></div>
<div th:replace="fragments.html :: date-time"></div>
</body>
</html>