<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<section class="jumbotron text-center">
    <div class="container">
        <div class="row gx-2 gx-lg-3 align-items-center my-3">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="/images/mainImage.jpg" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light"><b>모임의 즐거움!</b>
                    <br/>
                    <span style = "color:#5F00FF"><b>Podo</b></span>
                </h1>
                <br/><br/>
                <p>당신이 원하는 모임을 찾아서 참가해보세요! </p>
                <p>원하는 모임을 만들고 관리하는 것도 가능하답니다. </p>
                <p>
                    <a th:href="@{/sign-up}" class="btn btn-outline-dark my-2">회원 가입</a>
                </p>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row justify-content-center pt-3">
        <div th:replace="fragments.html :: crew-list (crewList=${crewList})"></div>
    </div>
</div>
<div th:replace="fragments.html :: footer"></div>
<div th:replace="fragments.html :: date-time"></div>
</body>
</html>